html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f4f4f4;
  // font-family: 'Alata', sans-serif;
  // font-family: 'Baloo Tamma 2', cursive;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  // background-image: url("./images/patterns/simple/simple3.png");
  // background-size: 20px;
  // background-repeat: repeat;
}

input {
  font-family: 'Nunito', sans-serif;
}

a:link {
  color: #60a4c9;
  text-decoration: none;
}

a:active {
  color: #60a4c9;
  text-decoration: none;
}

a:hover {
  color: #63879b;
  text-decoration: none;
}

a:visited {
  color: #60a4c9;
  text-decoration: none;
}

.app {
  margin: 10px;
}

.expenses-compact {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  height: auto;
  box-shadow: 5px 5px 5px #bfbdbd;
}

.budget-compact {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  height: 100px;
  box-shadow: 5px 5px 5px #bfbdbd;
}

.shopping-compact {
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  height: 100px;
  box-shadow: 5px 5px 5px #bfbdbd;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-top: 25px;
  margin-bottom: 25px;

  nav {
    display: flex;
    align-content: center;

    svg {
      align-self: center;
      margin-right: 15px;
      margin-left: 0px;
    }

    h2 {
      font-size: 1.8em;
      font-weight: 700;
    }
  }

  a {
    align-self: center;
    color: inherit;
    font-size: 1.2em;
    margin-right: 10px;
  }

  .household-views {
    // justify-self: center;
    display: flex;
    justify-content: space-between;
    // width:60px;
    align-self: center;
    opacity: 0.9;

    .person {
      align-self: center;
      margin-right: 12px;
    }

    .group {
      // margin-left: 20px;
      align-self: center;
      font-size: 1.45em;
      margin-right: 10px;
    }
  }
}

.compact {
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #fff;
  // background: rgba(255,255,255, 0.1);
  padding: 10px;
  color: #333;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); light
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;

  .shopping-item {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .item-name {
      font-weight: 700;
      margin-left: 5px;
      font-size: 1.1em;
    }

    svg {
      align-self: center;
      color: rgb(247, 98, 98);
      margin-right: 5px;
      font-size: 1.1em;
    }
  }

  .compact-title {
    position: relative;
    width: 100%;
    // overflow: hidden;

    .icon {
      opacity: 0.4;
      position: absolute;
      // right:0;
      top: -15px;
      color: #ddd;
      font-size: 1.1em;
      // z-index: 1;
      color: rgba(8, 93, 250, 0.2);

      svg {
        z-index: 0;
      }
    }

    .title {
      position: relative;
      font-weight: 800;
      font-size: 1.4em;
      z-index: 10;
    }
  }

  .details {
    font-weight: 600;
    font-size: 1.1em;
  }

  .compact-extitle {
    display: flex;
    justify-content: space-between;

    .title {
      font-weight: 800;
      font-size: 1.4em;
    }

    .total-expenses {
      font-weight: 600;
      font-size: 1.1em;
      align-self: center;
    }
  }

  &.budget {
    border-color: rgba(84, 144, 255, 0.2);
    display: flex;

    // background:rgba(84, 144, 255, 0.2)
    // flex-direction: column;
    .progress {
      width: 30%;
      margin-left: 30px;
    }
  }

  &.shopping {
    border-color: rgba(141, 255, 170, 0.2);
    display: flex;
    flex-direction: column;
    // background-image: url("./images/patterns/simple/simple3.png");
    // background-size: 20px;
    // background-repeat: repeat;
    // background: #ccc;
  }

  &.expenses {
    border-color: rgba(228, 141, 255, 0.2);
    display: flex;
    flex-direction: column;
  }

  .expense {
    display: flex;
    justify-content: space-between;

    .details {
      display: flex;

      .category-icon {
        // width: 50px;
        // height: 50px;
        // border-radius: 55%;
        // border:3px solid aqua;
        // background: aqua;
        // line-height: 50px;
        text-align: center;
        align-self: center;
        // color: #888;
        margin-right: 8px;
        font-size: 1.3em;
        .category-progress-bar {
          width: 50px;
        }
      }

      .info {
        display: flex;
        flex-direction: column;

        .category {
          font-weight: 800;
        }

        .name {
          font-weight: 500;
          opacity: 0.9;
          font-size: 0.9em;
        }
      }
    }

    .numbers {
      align-self: center;
      display: flex;
      justify-content: flex-end;
      // justify-content: end;
      flex-direction: column;

      .amount {
        align-self: flex-end;
        font-weight: 800;
      }

      .date {
        font-weight: 500;
        opacity: 0.9;
        font-size: 0.9em;
      }
    }
  }
}

.shoppingList-overview {
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      width: 90%;
      height: 48px;
      font-weight: 600;

      font-size: 1em;
      padding-left: 15px;
      border-radius: 10px;
      border: 2px solid #f3f3f3;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.23);

      &::placeholder {
        color: rgb(196, 193, 193);
      }
    }

    button {
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      font-size: 1.8em;
      align-self: center;
      margin-right: 12px;
      margin-left: 12px;

      svg {
        // font-size: 1.2em;
        color: rgb(133, 235, 133);
      }
    }
  }
}

.login-form {
  background-image: url('./images/nebula/neb1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;

  padding: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: hidden;
  overflow-x: hidden;

  .log-type {
    font-size: 1.4em;
    color: blue;
    text-decoration: underline;
  }

  // background-image: url("watercolor.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // height: 100vh;
  // margin: -15px;
  // padding: 35px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  // background-image: url("./images/abstract/abstract4.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // // background-size:100% 350px;
  // // background-blend-mode: color-burn;
  // height: 100vh;
  // margin: -15px;
  // padding: 35px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  // candidate
  // background-image: url("./images/turq/turq1.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // // background-size:100% 350px;
  // // background-blend-mode: color-burn;
  // height: 100vh;
  // margin: -15px;
  // padding: 35px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  // candidate
  // background-color: black;
  // background-image: url("./images/abstract/abstract4.jpg");
  // background-size: cover;
  // background-position-y: -200px;
  // background-repeat: no-repeat;
  // // background-size:100% 350px;
  // // background-blend-mode: color-burn;
  // height: 100vh;
  // margin: -15px;
  // padding: 35px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  // background-image: url("./images/patterns/liquid/patt16.jpg");
  // background-size: 800px;
  // // background-color: rgba(0,0,0, 0.5);
  // background-repeat: repeat;
  // height: 100vh;
  // margin: -15px;
  // padding: 35px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;

  header {
    color: #fff;
    font-weight: 800;
    width: 50%;
    font-size: 1.5em;
    margin-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;

    input {
      height: 50px;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 1);
      background-color: transparent;
      color: #fff;
      font-size: 1.7em;
      font-weight: 600;

      &::placeholder {
        color: #fff;
        font-weight: 400;
        // font-size: 1.3em;
      }

      &:focus {
        color: #fff;
        outline: none;
        font-weight: 400;
        // font-size: 1.3em;
      }
    }

    button {
      background-color: transparent;
      border: 0;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      h1 {
        align-self: center;
        color: #fff;
      }
      button {
        color: #fff;
        font-size: 4em;
      }
    }
  }
}
.category-progress-overview {
  width: 300px;
  margin: 0 auto;
  color: white;
  margin-bottom: 25px;
}

.budgets-overview {
  .numbers-overview {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 10px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07), 0 3px 6px rgba(0, 0, 0, 0.23);
    .budget-total {
      display: flex;
      flex-direction: column;
      .number {
        font-size: 1.8em;
        font-weight: 600;
        color: rgb(130, 209, 255);
      }
    }
    .spent-total {
      display: flex;
      flex-direction: column;
      .number {
        font-size: 1.8em;
        font-weight: 600;

        color: rgb(255, 88, 88);
      }
    }
  }
}
